.header {
  padding: $spacing-md 0;
  margin-bottom: $spacing-lg;

  &__container {
    width: 90vw;
    max-width: calc($media-notebook - 40px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;

  &__link {
    display: block;
    margin-left: $spacing-lg;
  }

  &__active {
    display: block;
    margin-left: $spacing-lg;
    font-weight: $weight-bold;
  }
}
