.storeItem {
  background-color: $ui-2;
  border-radius: $spacing-md;
  cursor: pointer;

  &__logo {
    border-radius: $spacing-md;
    overflow: hidden;
  }

  &__info {
    padding: $spacing-sm $spacing-md;
  }

  &__title {
    font-size: $size-lg;
    font-weight: $weight-regular;
    color: $ui-title;
    margin-bottom: $spacing-xs;
  }
}
