.storeItem {
  background-color: var(--ui-2);
  border-radius: var(--spacing-md);

  &__logo {
    border-radius: var(--spacing-md);
    overflow: hidden;
  }

  &__info {
    padding: var(--spacing-sm) var(--spacing-md);
  }

  &__title {
    font-size: var(--size-lg);
    font-weight: var(--weight-regular);
    color: var(--ui-title);
    margin-bottom: var(--spacing-xs);
  }

  &__status {
    font-size: var(--size-sm);
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    letter-spacing: 0.2em;

    &_opened {
      color: var(--ui-success);
    }

    &_closed {
      color: var(--ui-error);
    }
  }
}
