.storeItem {
  background-color: $ui-2;
  border-radius: $spacing-md;

  &__logo {
    border-radius: $spacing-md;
    overflow: hidden;
  }

  &__info {
    padding: $spacing-sm $spacing-md;
  }

  &__title {
    font-size: $size-lg;
    font-weight: $weight-regular;
    color: $ui-title;
    margin-bottom: $spacing-xs;
  }

  &__status {
    font-size: $size-sm;
    font-weight: $weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.2em;

    &_opened {
      color: $ui-success;
    }

    &_closed {
      color: $ui-error;
    }
  }
}
