.categories {
  display: grid;
  grid-template-columns: repeat(7, 12%);
  justify-content: space-between;
  grid-gap: 20px;
  margin: $spacing-md 0;

  @media (max-width: $media-mobile) {
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
  }
}
