.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: $spacing-xl;

  @media (max-width: $media-mobile) {
    flex-direction: column;
  }

  &_info {
    max-width: 25vw;

    @media (max-width: $media-mobile) {
      max-width: 100%;
      margin-bottom: $spacing-lg;
    }

    &__title {
      font-size: 4.6rem;
      letter-spacing: -0.03em;
      line-height: 1.1;
      color: $ui-title;
      font-weight: $weight-regular;
      margin-bottom: $spacing-md;

      & strong {
        font-weight: $weight-regular;
        color: $ui-primary;
        text-decoration: underline;
      }
    }

    &__text {
      font-size: $size-lg;
      line-height: 1.5;
    }
  }
}
