.categoryItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  border-radius: $spacing-md;
  padding: $spacing-sm;
  margin: 0;
  background-image: linear-gradient(to right bottom, $ui-3, $ui-4);
  cursor: pointer;

  &__title {
    display: block;
    margin-top: $spacing-sm;
    text-align: center;
    color: $ui-text;
    font-size: $size-md;
    font-weight: $weight-regular;
  }

  &__quantity {
    color: $ui-title;
    font-size: $size-sm;
  }
}
