.categories {
  text-align: left;
  width: 100%;
  margin: var(--spacing-lg) 0;

  &__title {
    text-transform: uppercase;
    color: var(--ui-title);
    font-weight: var(--weight-regular);
    color: var(--ui-primary);
    margin-bottom: var(--spacing-sm);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(7, 12%);
    justify-content: space-between;
    grid-gap: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0;
    border-radius: var(--spacing-md);
    padding: var(--spacing-sm);
    margin: 0;
    background-color: var(--ui-2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  }

  &__name {
    display: block;
    margin-top: var(--spacing-sm);
    text-align: center;
    color: var(--ui-text);
    font-size: var(--size-md);
    font-weight: var(--weight-regular);
  }

  &__quantity {
    color: var(--ui-title);
    font-size: var(--size-sm);
  }
}
