:root {
  // Colors
  --ui-1: #0c0c0e;
  --ui-2: #201f25;
  --ui-3: #212028;
  --ui-4: #2d313d;
  --ui-title: #c4c4c2;
  --ui-text: #7d7d7f;
  --ui-primary: #feb95a;
  --ui-secondary: #21c0aa;

  --ui-success: #21c0aa;
  --ui-warning: #feb95a;
  --ui-error: #c05f56;

  // Font sizes
  --size-xxxs: 0.4rem;
  --size-xxs: 0.5rem;
  --size-xs: 0.6rem;
  --size-sm: 0.8rem;
  --size-md: 1rem;
  --size-lg: 1.2rem;
  --size-xl: 1.5rem;
  --size-xxl: 2rem;
  --size-xxxl: 3rem;

  // Font weights
  --weight-regular: 400;
  --weight-bold: 700;

  // Spacing
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-lg: 40px;
  --spacing-xl: 80px;
  --spacing-xxl: 100px;
  --spacing-xxxl: 160px;

  // Media sizes
  --media-mobile: 768px;
  --media-tablet: 1024px;
  --media-notebook: 1440px;
  --media-desktop: 1920px;
}
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--ui-text);
  background: var(--ui-1) url('/assets/images/blob.svg') no-repeat -10vw -20vh;
  background-size: 45vw;
  background-attachment: fixed;
}

a {
  color: var(--ui-primary);
  text-decoration: none;
}

.page {
  width: 90vw;
  max-width: calc(var(--media-notebook) - 40px);
  margin: 0 auto;

  &--spaced {
    margin: var(--spacing-lg) auto;
  }
}
